<nav>
  <label>NAVIGATION<label>
  <%if logged_in?%>
    <a href= '/sessions/logout'>Log Out</a>
    <a href='/users/show'>Your Account</a>
    <a href='/questions/new'>Ask A Question</a>
  <%else%>
    <a href= '/users/new'>Register</a>
    <a href='/sessions/login'>Log In</a>
  <%end%>
</nav>

<div class="container">
  <h1>NIGHTBEAR OVERFLOW</h1>
  <div><%@questions.each do |question| %>
    <div class="question">
    <div><a href="/questions/<%=question.id%>"><%=question.title %></a></div>
    <div><%=question.body%></div>
    </div>

    <div class="question-preview">
      <span><a href="/users/<%=question.user.id%>"><%=question.user.username%></a></span> |
      <span><%=question.answers.length%> answer(s)</span> |
      <span><%=question.comments.length%> comment(s)</span>
      </div>
    </div>
    <br>
  <% end %>

</div>
