<div class="questions">

  <div class="voting">
    <span id="upvote">Upvote</span>
    <span><%=@question.total_votes%></span>
    <span id="downvote">Downvote</span>
  </div>
<br>
  <div class="question">
  <div id="title"><strong><%=@question.title%></strong><br><span><a href="/users/<%=@question.user.id%>">  <%=@question.user.username%></a></span></div>
  <div><%=@question.body%></div>
  <%if @question.updated_at != @question.created_at%>
    <div>Edited: <%=@question.updated_at%></div>
  <%else%>
    <div>Created: <%=@question.created_at%></div>
  <%end%>
</div>
<div class="tags">
<%@question.tags.each do |tag|%>
<span><a href="/tags/<%=tag.id%>"><%=tag.subject%></a></span>
<%end%>
</div>
<br>
<%if logged_in?%>
<span><a href="/questions/<%=@question.id%>/answers/new">Answer this Question</a></span>
<span><a href="/questions/<%=@question.id%>/comments/new">Leave a Comment</a></span>
<%end%>

  <div class="comment">
  <%@comments.each do |comment|%>
      <div><%=comment.body%></div>
      <div><a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a></div>
      <%if comment.updated_at != comment.created_at%>
        <div>Edited: <%=comment.updated_at%></div>
      <%else%>
        <div>Created: <%=comment.created_at%></div>
      <%end%>
      <br>
    <%end%>
  </div>

  <div class="answer">
  <%@answers.each do |answer|%>
  <div class="voting">
    <span id="upvote">Upvote</span>
    <span><%=answer.total_votes%></span>
    <span id="downvote">Downvote</span>
  </div>
      <%if answer.best_answer == true%>
        <div>Selected As Best Answer!</a></div>
      <%end%>
      <div><%=answer.body%></div>
      <div><a href="/users/<%=answer.user.id%>"><%=answer.user.username%></a></div>
      <%if answer.updated_at != answer.created_at%>
        <div>Edited: <%=answer.updated_at%></div>
      <%else%>
        <div>Created: <%=answer.created_at%></div>
      <%end%>
      <%if logged_in? && current_user == @question.user%>
        <div><a href="/answers/<%=answer.id%>/bestanswer">Select As Best Answer</a></div>
      <%end%>
      <br>
      <%if logged_in?%>
      <span><a href="/answers/<%=answer.id%>/comments/new">Leave a Comment</a></span>
      <%end%>
      <div class="comment">
      <%answer.comments.each do |comment|%>
          <div><%=comment.body%></div>
          <div><a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a></div>
          <%if comment.updated_at != comment.created_at%>
            <div>Edited: <%=comment.updated_at%></div>
          <%else%>
            <div>Created: <%=comment.created_at%></div>
          <%end%>
        <br>
        <%end%>
      </div>
    <%end%>
  </div>
