<% if @errors %>
<div class="errors">
  <label>ERRORS:</label><br>
  <%@errors.each do |error| %>
    <strong><%=error%></strong><br>
  <%end%>
</div>
<% end %>
<div class="questions">

  <div class="voting">
    <form id="upvote" action="/<%=@question.id%>/upvote" method="post">
      <input type="submit" value="&#8670">
    </form>
    <span> <%=@question.total_votes%></span>
    <form id="downvote" action="/<%=@question.id%>/downvote" method="post">
      <input type="submit" value="&#8671">
    </form>
  </div>
    <%if @errors%>
    <%@errors.each do |error| %>
    <%=error %>
    <% end %>
    <% end %>
<br>
  <div class="ajax_question">
  <div class="question">
  <div id="title"><strong><%=@question.title%></strong><br><span><a href="/users/<%=@question.user.id%>">  <%=@question.user.username%></a></span></div>
  <div><%=@question.body%></div>
  <%if @question.edited_at%>
    <div>Edited: <%=@question.edited_at%></div>
  <%else%>
    <div>Created: <%=@question.created_at%></div>
  <%end%>
</div>
</div>
<div class="tags">
<%@question.tags.each do |tag|%>
<span><a href="/tags/<%=tag.id%>"><%=tag.subject%></a></span>
<%end%>
</div>
<br>
<%if logged_in?%>
<div class ='answer_question'>
<span><a id='answers_link' href="/questions/<%=@question.id%>/answers/new">Answer this Question</a></span>
</div>
<div class = 'comment_question'>
<span><a id="comment_link" href="/questions/<%=@question.id%>/comments/new">Leave a Comment</a></span>
</div>
<%end%>
<%if logged_in? && current_user == @question.user%>
<span><a href="/questions/<%=@question.id%>/edit">Edit Question</a></span>
<form action="/questions/<%=@question.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Question"><br>
</form>
<%end%>
<h5 class='comment-header'>Comments:<h5>
  <div class="comment">
  <%@comments.each do |comment|%>
      <div><%=comment.body%></div>
      <div><a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a></div>
      <%if comment.edited_at%>
        <div>Edited: <%=comment.edited_at%></div>
      <%else%>
        <div>Created: <%=comment.created_at%></div>
      <%end%>
      <br>
    <%end%>
  </div>

<h3 id='title'>Answers</h3>
  <div class="answer">
  <%@answers.each do |answer|%>
  <div class="voting">
    <form id="upvote" action="/answers/<%=answer.id%>/upvote" method="post">
      <input type="submit" value="&#8670">
    </form>
    <span>  <%=answer.total_votes%></span>
    <form id="downvote" action="/answers/<%=answer.id%>/downvote" method="post">
      <input type="submit" value="&#8671">
    </form>
  </div>
  <div class='question'>
      <%if answer.best_answer == true%>
        <div>Selected As Best Answer!</a></div>
      <%end%>
      <div><%=answer.body%></div>
      <div><a href="/users/<%=answer.user.id%>"><%=answer.user.username%></a></div>
      <%if answer.edited_at%>
        <div>Edited: <%=answer.edited_at%></div>
      <%else%>
        <div>Created: <%=answer.created_at%></div>
      <%end%>
      <%if logged_in? && current_user == @question.user%>
        <div><a href="/answers/<%=answer.id%>/bestanswer">Select As Best Answer</a></div>
      <%end%>
      <br>
      <%if logged_in? && current_user == answer.user%>
      <span><a href="/answers/<%=answer.id%>/edit">Edit Answer</a></span>
      <form action="/answers/<%=answer.id%>" method="post">
      <%if current_user == answer.user%>
      <div class="edits">
      <span><a id="edit_link" href="/answers/<%=answer.id%>/edit">Edit Answer</a></span>
      </div>
      <form action="/answers/<%=answer.id%>%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Answer"><br>
      </form>
      <%end%>
      </div>
      <%if logged_in?%>
      <div class='lc'>
      <span><a id='leave_comment' href="/answers/<%=answer.id%>/comments/new">Leave a Comment</a></span>
      <%end%>
      </div>
      <h5 class='comment-header'>Comments:<h5>
      <div class="comment">
      <%answer.comments.each do |comment|%>
          <div><%=comment.body%></div>
          <div><a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a></div>
          <%if comment.edited_at%>
            <div>Edited: <%=comment.edited_at%></div>
          <%else%>
            <div>Created: <%=comment.created_at%></div>
          <%end%>
        <br>
        <%end%>
      </div>
        <div id='title'></div>
    <%end%>
  </div>
