
<div id="user-activity-container">
  <h3 style='color:#6A5ACD' id="title"><%=@user.username%>'s Activity Statistics:</h3>

<div class='question'>
  Answers (<%=@user.answers.count%>)<br>
  Questions (<%= @user.questions.count %>)<br>
  Comments (<%= @user.comments.count %>)
</div>
  <h3 style='color:#6A5ACD' id='title'>Post Activity</h3>
  <div class='question'>
  <h4 style='color:white' class='tag_header'><%=@user.username%>'s Questions</h4>
  <%@user.questions.each do |question|%>
    <div><a href="/questions/<%=question.id%>"><%=question.title%></a></div>
  <%end%>
  <h4 style='color:white' class='tag_header'><%=@user.username%>'s Answers Given</h4>
 <%@user.answers.each do |answer|%>
    <div><a href="/answers/<%=answer.question.id%>"><%= answer.body%></a></div>
  <%end%>
</div>
</div>